<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PF</title>
        <!-- <link rel="icon" href="/img/DBITAA logo.png" type="image/x-icon" /> -->

        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/styles/show.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap"
            rel="stylesheet"
        />
        <script
            src="https://kit.fontawesome.com/751afc7438.js"
            crossorigin="anonymous"
        ></script>

        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
            crossorigin="anonymous"
        />

        <link rel="stylesheet" href="/styles/show.css" />

        <style></style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg nav-color">
            <div class="container-fluid">
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo01"
                    aria-controls="navbarTogglerDemo01"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a
                                class="nav-link active"
                                aria-current="page"
                                href="/add"
                                >ADD</a
                            >
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/show">SHOW</a>
                        </li>
                    </ul>
                    <form action="/logout" method="POST">
                        <button class="btn btn-outline-danger">
                            <i class="fa fa-lock"></i> Logout
                        </button>
                    </form>
                </div>
            </div>
        </nav>

        <div class="container-fluid mt-3">
            <div class="col-lg-12">
                <div class="d-flex justify-content-around">
                    <h2>Total Members: <%= use %></h2>

                    <div>
                        <button
                            onclick="exportTableToCSV('PF '+ newdate + '.csv')"
                            class="btn btn-primary"
                        >
                            <i class="fas fa-download"></i> Export CSV
                        </button>
                    </div>
                </div>
            </div>

            <div class="row justify-content-evenly">
                <div class="col-lg-6 col-sm-auto">
                    <form action="/show" method="GET" class="form-group mt-3">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Search</span>

                            <input
                                type="text"
                                name="search"
                                placeholder="By Name or Subscription"
                                class="form-control"
                            />

                            <button
                                type="submit"
                                class="btn btn-outline-dark input-group-text"
                                value="Search"
                            >
                                <i class="fas fa-search"></i> Default
                            </button>
                        </div>
                    </form>
                </div>

                <div class="col-lg-4 col-sm-auto">
                    <form action="/show" method="GET" class="form-group mt-3">
                        <div class="input-group">
                            <label class="input-group-text" for="branch"
                                >Date
                            </label>

                            <input
                                type="date"
                                class="form-control"
                                name="search"
                                id="search_date"
                            />

                            <button
                                type="submit"
                                class="btn btn-outline-dark input-group-text"
                                value="Search"
                            >
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-11 col-12 scrol mt-3">
                    <table class="table table-bordered table-hover">
                        <thead class="table-primary">
                            <tr>
                                <th scope="col">id</th>
                                <th scope="col">Name</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Subscription</th>
                                <th scope="col">Start Date</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <% for (let user of users){%>
                        <tr>
                            <td><%= count++ %></td>
                            <td><%= user.name %></td>
                            <td><%= user.phone %></td>
                            <td><%= user.subscription %></td>
                            <td><%= user.doj %> -- <%= user.eos %></td>
                            <td id="status" class="status-cell text-center">
                                <%= user.status %>
                            </td>
                            <td>
                                <!-- <button class="btn btn-danger">Delete</button> -->

                                <form
                                    class="d-inline-flex"
                                    method="post"
                                    action="/delete/<%= user._id %>"
                                >
                                    <button class="btn btn-danger">
                                        Delete
                                    </button>
                                </form>

                                <a
                                    href="/update/<%= user._id %>"
                                    class="btn btn-info"
                                    >Update</a
                                >
                            </td>
                        </tr>
                        <% }%>
                    </table>
                </div>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <script src="/js/export.js"></script>
        <script>
            var d = new Date();
            var date = d.getDate();
            var year = d.getFullYear();
            var month = d.getMonth() + 1;

            newdate = date + "-" + month + "-" + year;

            var formattedDate = d.toISOString().slice(0, 10);
            document.getElementById("search_date").value = formattedDate;

            const statusCells = document.querySelectorAll(".status-cell");

            statusCells.forEach((cell) => {
                if (cell.textContent.trim() === "END") {
                    cell.classList.add("inactive-cell");
                }
            });
        </script>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
