<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PF</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/styles/update.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg nav-color">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav nav-item">
          <li class="nav-item">
            <a class="nav-link active" href="/add">Add new Record</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/show">Show</a>
          </li>
        </ul>
      </div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <!-- <a class="nav-link active" href="/logout">Logout</a> -->
          <form action="/logout" method="POST">
            <a class="nav-link"
              ><button class="btn btn-outline-danger">
                <i class="fa fa-lock"></i> Logout
              </button></a
            >
          </form>
        </li>
      </ul>
    </nav>

    <div class="container mt-3">
      <h5 class="updatehead">Update Record</h5>
      <form class="addform mt-3" action="/update/<%= item._id %>" method="POST">
        <div class="row">
          <label class="col-3" for="name">Name:</label>

          <input
            type="tet"
            class="col-9 form-control"
            id="name"
            name="name"
            value="<%= item.name %>"
            placeholder="Enter name"
          />
        </div>
        <br />
        <div class="row">
          <label class="col-3" for="name">Phone Number:</label>
          <input
            type="tet"
            class="col-9 form-control"
            id="phone"
            name="phone"
            value="<%= item.phone %>"
            placeholder="Enter Phone Number"
          />
        </div>

        <br />

        <p><%= item.subscription === 3 %></p>

        <div class="row">
          <label class="col-3">Subscription:</label>
          <select
            class="col-9 form-control"
            name="subscription"
            id="subscription"
          >
            <% var options = [ 1, 3, 6,12 ]; for ( var i = 0; i <
            options.length; i++ ) { var selected = ( item.subscription ===
            options[i] ) ? "selected" : " "; %>
            <option value="<%=options[ i ] %>" <%=selected %>
              ><%=options[i] %> Months
            </option>
            <% } %>

            <!-- <option>Choose...</option>
            <option value="1" selected="item.subscription === 1  ">
              1 month
            </option>
            <option value="3" selected="item.subscription === 3">
              3 month
            </option>
            <option value="6" selected="item.subscription === 6">
              6 month
            </option>
            <option value="12" >
              12 month
            </option> -->
          </select>
        </div>
        <br />
        <div class="row">
          <label class="col-3">Start Date:</label>
          <input
            type="date"
            class="col-9 form-control"
            id="doj"
            name="doj"
            value="<%= item.doj %>"
            placeholder="Select start date"
            required
          />
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
